<div>
  <div style="display:flex">
    |--[<%= form_for @directory do |form| %>
      <%= form.text_field :name, placeholder: 'Enter name' %>
    <% end %>]
    &nbsp;
    <small>
      <%= link_to('&larr;'.html_safe, directory_path(@directory)) %>
    </small>
    &nbsp;
    <small>
      <%= link_to('&#215;'.html_safe, @directory, method: :delete, data: { confirm: 'Do you really want to destroy it?' }) %>
    </small>
  </div>

  <%= render partial: 'children', locals: { parent: @directory, children: @directory.children } %>
</div>
